// VARS
$primary-color: #0082f9;

$nav-bar-text-color: #464646;
$main-background-color:#1c1c1c;


$footer-col-title: #ffffff;
$footer-li-color:#959595;
$footer-bg-color:#303030;


$sign-up-txt-color: #ffffff;